{% extends "base/base.html" %}

{% block title %}
    500 Internal Error
{% endblock %}
{% block menu %}
    <ul class="nav nav-list">
        <li class="nav-header">Data</li>
        <li><a href="/">Connections</a></li>
        <li><a href="/downloads">Downloads</a></li>
        <li class="nav-header">Graphs</li>
        <li><a href="/graphs/protocols">Protocols</a></li>
        <li><a href="/graphs/urls">URLs</a></li>
        <li><a href="/graphs/ips">IPs</a></li>
        <li><a href="/graphs/malware">Malware</a></li>
        <li><a href="/graphs/attacks">Attacks</a></li>
        <li class="nav-header">Maps</li>
        <li><a href="/maps/attackers">Attackers</a></li>
        <li><a href="/maps/countries">Countries</a></li>
    </ul>
{% endblock %}
{% block titlecontent %}
    500 Internal Error
{% endblock %}
{% block info %}
    <div class="alert alert-info" id="info">
        500 Internal Error
    </div>
{% endblock %}
{% block content %}
    <div class="span10" id="content">
    </div>
{% endblock %}