.padding {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@font-face {
  font-family: "Coolvetica";
  src: url(../static/fonts/coolvetica rg.ttf) format('truetype');
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: white;
}
body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}
body:after {
  content: "";
  position: fixed;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.page-header {
  background-color: #7ea419;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
h1 {
  font-family: Coolvetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline;
  position: relative;
  letter-spacing: -1px;
  color: white;
}
h1 small {
  font-family: Coolvetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline;
  position: relative;
  letter-spacing: -1px;
  color: #1b1b1b;
}
h2 small {
  font-family: Coolvetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline;
  position: relative;
  letter-spacing: -1px;
  color: white;
}
h4 {
  font-family: Coolvetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 3px;
}
a {
  color: #7ea419;
}
a:hover {
  color: #7ea419;
}
.label-important {
  background-color: #7ea419;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  background-color: white;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  text-decoration: none;
  background-color: #7ea419;
  color: white;
  background-image: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.nav > li > a:hover {
  text-decoration: none;
  background-color: #7ea419;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.nav-list {
  padding-bottom: 10px;
}
.sidebar-nav {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
}
#filter {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-top: 20px;
}
#info {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  background-color: #7ea419;
  color: white;
  border-color: #7ea419;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -90px;
}
.table {
  font-size: 11px;
}
.table td {
  max-width: 850px;
  overflow-x: hidden;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
#content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  min-height: 600px;
  height: auto !important;
  height: 600px;
  margin-bottom: 20px;
}
#resultado {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: black;
  color: white;
  margin-bottom: 20px;
}
#footer {
  padding-top: 15px;
  height: 90px;
  background-color: #1b1b1b;
  color: white;
}
#push {
  height: 91px;
}
select {
  width: 140px;
}
.thumbnail {
  text-align: center;
}
.statistics {
  color: #6e009e;
}
#map {
  border: none;
  box-shadow: none;
  width: auto;
  height: 550px;
}
