body{
  background-color: #1B1B1B;
}

#body{
  background-color:  #FFF;
  padding-top: 20px;
}

.pagination {
	padding-bottom: 40px;
}

.page-header{
  padding-left: 20px;
  background-color: #7EA419;
  margin: 0px 0 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.page-header small{
  color: #FFF;
}

.nav-header {
    color: #6E009E;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
    background-color: #7EA419;
    color: #FFFFFF;
}

.sidebar-nav {
	padding: 9px 0;
}

a {
  color: #7EA419;
  text-decoration: none;
}

a:hover {
  color: #6E009E;
}

#titlecontent {
    padding-left:  5px;
    margin-top:  -10px;
    color: #6E009E;
}

input {
  width: 100px;
}

select {
  width: 135px;
}

.alert-info {
  background-color:  #dfebb9;
  border-color: #7EA419;
  color: #7EA419;
}

#info{
  margin-top: 40px;
}
#content {
  border: 1px solid #E3E3E3;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 40px;
}

.label-important, .badge-important {
    background-color: #7EA419;
    margin-left:  5px;
}

.well {
    background-color: #FFF;
}

.table
{
  font-size: 11px;
}

#chart
{
  height: 600px;
}

footer{
  background-color: #1B1B1B;
	border-top: 1px solid #E3E3E3;
  color: #FFF;
  padding-top: 20px;
  padding-bottom: 10px;
}