{% extends "base/base.html" %}

{% block title %}
Attackers
{% endblock %}
{% block scripts %}
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "css/jquery-jvectormap-1.0.css" %}" type="text/css" media="screen"/>
	<script type="text/javascript" src="{% static "js/jquery-jvectormap-1.0.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery-jvectormap-world-mill-en.js" %}"></script>
{% endblock %}
{% block titlecontent %}
Attackers
{% endblock %}
{% block info %}
	<div class="alert alert-info" id="info">
		Last 7 days.
	</div>
{% endblock %}
{% block Lastscripts %}
	<script type="text/javascript" charset="utf-8">
		$(function(){
			{{ attackers|safe }}
			$('#content').vectorMap({
				map: 'world_mill_en',
				regionStyle: {
            		initial: {
              			fill: 'white',
						"fill-opacity": 1,
						stroke: '#000',
						"stroke-width": 0.2,
						"stroke-opacity": 1
            		},
            		hover: {
						"fill-opacity": 0.8
					}
          		},
				markerStyle: {
					initial: {
						fill: '#6E009E',
						stroke: '#383f47'
					}
				},
				backgroundColor: 'white',
				markers: gdpData,
				onMarkerLabelShow: function(event, label, index){
					label.html('<b>' + gdpData[index]['host'] + '</b><br/><b>Connections</b>: ' + gdpData[index]['count']);
            	},
            	onRegionLabelShow: function(event, label, code){
					label.html('<img src="/static/images/flags/'+code.toLowerCase()+'.gif" style="margin-bottom:3px;"/><b>'+label.html()+'</b>');
				}
			})
		});
	</script>
{% endblock %}