{% extends "base/base.html" %}

{% block title %}
Connections
{% endblock %}
{% block titlecontent %}
Connections
{% endblock %}
{% block content %}
	{% load django_tables2 %}
	{% render_table table %}
{% endblock %}
{% block filters %}
	{% include "tables/filter.html" with filters=filters only %}
{% endblock %}
{% block info %}
	<div class="alert alert-info" id="info">
        {% if table.page.has_previous or table.page.has_next %}
            Page {{ table.page.number }} of {{ table.paginator.num_pages }}
        {% endif %}
    </div>
{% endblock %}
{% block Lastscripts %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.flag').tooltip();
			$('#filters').collapse();
		});
	</script>
{% endblock %}